---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2>The climbs</h2>
  <a href="{{ '/map' | relative_url }}">There's also map showing all the climbs.</a>
  <ol>
  {% for route in site.the_routes %}
    <li><a href="{{ route.url | relative_url }}">{{ route.title }}</a> - {{ route.distance }}, {{ route.ascent }}, {{ route.gradient }}</li>
  {% endfor %} 
  </ol>

  {%- if page.after -%}
  {{ page.after | markdownify }}
  {%- endif -%}

</div>
